# CognoDB Connection Settings
# Sign up at https://console.cognodb.com/ to provision a free instance
COGNODB_URI='URI FOR DATABASE"
COGNODB_USER=cognodb
COGNODB_PASSWORD=your-generated-password

# Flask Server Configuration (Optional)
PORT=5001
FLASK_ENV=development
